<div style="text-align:center">
  <ul>
    <li><a class="nav-link" routerLink="/" routerLinkActive="active">Начальная страница</a> </li>
    <li><a class="nav-link" routerLink="profile" routerLinkActive="active" *ngIf="false">Profile</a> </li>
    <li style="float:right"> <a class="nav-link" style="float:right" routerLink="registration" routerLinkActive="active"
      *ngIf="true">Регистрация</a> </li>
    <li style="float:right"> <a class="nav-link" style="float:right" routerLink="login" routerLinkActive="active"
        *ngIf="true">Войти</a> </li>
    <li style="float:right"> <a class="nav-link" href="#" *ngIf="false">Logout</a> </li>
  </ul>
  <router-outlet></router-outlet>